/* overwrite general styles */

body {
  font-family: verdana;
}

.ct_inline_editor input {
	font-family: verdana;
}

/* overwrite predefined styles for module editor */

.ct_module_editor .ct_value {
	margin: 0;
}

.ct_module_editor .ct_empty {
	background-color: #aaa;	
}

/* EPackage */

.ct_module_editor .ct_element.ctc_EPackage {
	padding: 2px 0 2px 0;
  border: 1px solid grey;
  margin: 10px;
  background-color: rgba(255, 255, 0, 0.3);
}

.ct_module_editor .ctc_EPackage > .ctn_name {
  font-size: 150%; 
  border-bottom: 1px solid grey;
  padding: 3px;
}

.ct_module_editor .ctc_EPackage .ct_fold_button {
  margin: 2px 4px 2px 4px;
}

/* EClass */

.ct_module_editor .ct_element.ctc_EClass {
	padding: 2px 0 2px 0;
  border: 1px solid grey;
  display: inline-block;
  margin: 10px;
  background-color: #faa;
}

.ct_module_editor .ctc_EClass > .ctn_name {
  font-size: 150%; 
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 3px;
}

.ct_module_editor .ctc_EClass .ct_fold_button {
  margin: 2px 4px 2px 4px;
}

.ct_module_editor .ctn_eSuperTypes .ct_value {
  display: block;
}

/* EReference */

.ct_module_editor .ctc_EReference > .icon {
  display: inline-block;
  width: 20px;
  height: 9px;
  background-image: url("images/ref_icon.png");
}

.ct_module_editor .ctn_containment > .icon {
  display: inline-block;
  width: 16px;
  height: 9px;
  background-image: url("images/composite_icon.png");
  margin-right: 3px;
}

.ct_module_editor .ctn_eOpposite > .icon {
  display: inline-block;
  width: 16px;
  height: 9px;
  background-image: url("images/opposite_icon.png");
  margin-right: 3px;
}

/* EAttribute */

.ct_module_editor .ctc_EAttribute > .icon {
  display: inline-block;
  width: 20px;
  height: 9px;
  background-image: url("images/attr_icon.png");
}

/* general styles which must overwrite styles defined about */

.ct_module_editor .ct_selected {
  background-color: #ccf; 
}

.ct_module_editor .ct_element.ct_selected {
  background-color: #ccf; 
}

.ct_module_editor .ct_ref_target {
  background-color: #ddf; 
}

.ct_module_editor .ct_element.ct_ref_target {
  background-color: #ddf; 
}

.ct_module_editor .ct_element.ct_error {
	border-left: 5px solid #F77;	
}
